.icon-button {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.icon-image {
    width: 2.5rem;
    height: 2.5rem;
}

.nav-title {
    cursor: pointer;
    font-size: larger;
    margin-left: 1rem;
    font-family: 'Ubuntu', sans-serif;
}

.spacer {
    flex: 1 1 auto;
}

:host ::ng-deep .mat-toolbar.mat-primary {
    --mat-toolbar-container-background-color: #552a77 !important;
}