<div class="container">
  <mat-toolbar class="toolbar" id="button-bar">
    <mat-button-toggle-group name="color" aria-label="Choose a color" value="#000000">
      <mat-button-toggle *ngFor="let color of colors" [value]="color.value"
                         (click)="drawingComponent.changeColor(color.value)"
                         [ngStyle]="{'color': color.value}">
        {{ color.name }}
      </mat-button-toggle>
    </mat-button-toggle-group>
    <button mat-icon-button (click)="drawingComponent.undo()">
      <mat-icon>undo</mat-icon>
    </button>
    <button mat-icon-button (click)="drawingComponent.redo()">
      <mat-icon>redo</mat-icon>
    </button>
    <button mat-icon-button (click)="drawingComponent.clear()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="saveDrawingAndNotes()">
      <mat-icon>save</mat-icon>
    </button>

    <!--    <mat-button-toggle-group name="size" aria-label="Choose a stroke size" value="6">-->
<!--      <mat-button-toggle value="3" (click)="drawingComponent.changeStrokeSize(3)">Small</mat-button-toggle>-->
<!--      <mat-button-toggle value="6" (click)="drawingComponent.changeStrokeSize(6)">Medium</mat-button-toggle>-->
<!--      <mat-button-toggle value="9" (click)="drawingComponent.changeStrokeSize(9)">Large</mat-button-toggle>-->
<!--    </mat-button-toggle-group>-->
  </mat-toolbar>
  <div class="drawing-container">
    <div>
      <mat-form-field>
        <mat-label>Type your notes here...</mat-label>
        <textarea #notesTextarea
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="5"
                  cdkAutosizeMaxRows="40"></textarea>
      </mat-form-field>
    </div>
    <div id="image-container"></div>
    <app-drawing #drawingComponent></app-drawing>
  </div>


</div>
