<mat-drawer-container class="sidenav-container">
  <mat-drawer-content>
    <div id="button-bar">
      <button mat-raised-button (click)="drawer.toggle()">Settings</button>
      <button mat-raised-button (click)="drawingComponent.undo()">Undo</button>
      <button mat-raised-button (click)="drawingComponent.redo()">Redo</button>
      <button mat-raised-button (click)="drawingComponent.clear()">Clear</button>
    </div>
    <div class="drawing-container">
      <app-drawing #drawingComponent></app-drawing>
    </div>
  </mat-drawer-content>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>
</mat-drawer-container>
